@import url('bootstrap.css');
.section {
padding: 80px 0;
}
.img-holder img {
max-width: 100%;
height: auto;
}
.pt_text {
padding-top: 13%;
}
.top_padding {
padding-top: 9%;
}
/*landing section*/
.landing-block, h1 {
color: #ffffff;
}
.landing-block .text {
display: flex;
justify-content: flex-end;
}
.landing-block
.center-content {
display: flex;
justify-content: center;
}
.background_image	{
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
width: 100%;
height: 685px;
opacity: 90%;
visibility: inherit;
z-index: 20;
position: relative;
}
/*ABOUT Section*/
.btn {
border: 2px solid black;
background-color: white;
color: black;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
}
.success {
border-color: #4CAF50;
color: green;
}
.success:hover {
background-color: #4CAF50;
color: white;
}

.about-block, 
.about-content{
color: #000000;
}
/*Company Number*/
.company, h1 {
color: #ffffff;

}
.company-number{
background-color: darkgrey;
background-size: cover;
background-position: center center;
background-attachment: fixed;
opacity: 100%;
position: relative;
z-index: 1;
}
.company-number:before {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: -1;
background: #222;
opacity: 0.9;
}

/*project*/
.project-tittle {
color: # 0000000;
text-align: center;
}
.project-block, 
.project-content{
color: #000000;
}
.btn {
border: 2px solid black;
background-color: white;
color: black;
padding: 14px 28px;
font-size: 16px;
cursor: pointer;
}
.success {
border-color: #4CAF50;
color: green;
}
.success:hover {
background-color: #4CAF50;
color: white;
}
.project-block {
display: flex;
flex-direction: column; 
}

/*project*/
.project1-block, 
.project1-content{
color: #000000;
}

/*center btn*/
.center-btn {
	text-align: center;
}

/*achievements*/
.achivement {
	text-align: center;
	color: #fff;
	margin-bottom: 50px;
}
.achivement-conent {
	color: #ffffff;
	}
.achivement-conent {
	margin-bottom: 30px;
}
a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}